<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simple.wildfishingnote"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainTab1Activity"
            android:label="@string/title_activity_main_tab1"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name=".MainTab2Activity"
            android:label="@string/title_activity_main_tab2"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name=".MainTab3Activity"
            android:label="@string/title_activity_main_tab3"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name=".MainTab4Activity"
            android:label="@string/title_activity_main_tab4"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name=".AddMainActivity"
            android:label="@string/title_activity_add_main"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="campaigntabs.Tab1Activity"
            android:label="title_activity_tab1" >
        </activity>
        <activity
            android:name="campaigntabs.Tab2Activity"
            android:label="title_activity_tab2" >
        </activity>
        <activity
            android:name="campaigntabs.Tab3Activity"
            android:label="title_activity_tab3" >
        </activity>
        <activity
            android:name="campaigntabs.Tab4Activity"
            android:label="title_activity_tab4" >
        </activity>
        <activity
            android:name="campaigntabs.Tab5Activity"
            android:label="title_activity_tab5" >
        </activity>
        <activity
            android:name=".CalendarDailogActivity"
            android:label="@string/title_activity_calendar_dailog" >
        </activity>
        <activity
            android:name="com.simple.wildfishingnote.place.PlaceDetailActivity"
            android:label="@string/title_activity_place_detail" >
        </activity>
        <activity
            android:name="com.simple.wildfishingnote.place.AddPlaceActivity"
            android:label="@string/title_activity_add_place" >
        </activity>
    </application>

</manifest>
